      <nav class="text-white body-text grid-layout sticky top-0 z-[100] main-bg py-4 border-solid border-b transition-opacity duration-300 border-white/[.06]">
        <a class="col-span-4 col-start-1 hover:text-yellow-300" href="../index.html"><h1 class="font-bold">Aufa Alqowiy</h1></a>
        <p class="col-span-6 md:col-start-7 lg:col-start-7 duration-500 md:col-span-3 lg:col-span-2 transition-opacity font-bold">Fresh Graduate</p>
        <p class="hidden col-span-3 lg:inline md:col-start-9 font-bold">Jambi, Indonesia</p>
        <div class="absolute right-0 flex justify-end col-start-12 top-[50%] translate-y-[-50%]">
          <a href="../index.html">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 hover:text-yellow-300">
              <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </nav>
