      <nav class="text-white body-text grid-layout sticky top-0 z-[100] main-bg py-4 border-solid border-b transition-opacity duration-300 border-white/[.06]">
        <a class="col-span-4 col-start-1 hover:text-yellow-300" href="/"><h1 class="font-bold">Aufa Alqowiy</h1></a>
        <p class="col-span-6 md:col-start-7 lg:col-start-7 duration-500 md:col-span-3 lg:col-span-2 transition-opacity font-bold">Fresh Graduate</p>
        <p class="hidden col-span-3 lg:inline md:col-start-9 font-bold">Jambi, Indonesia</p>
      </nav>
